body {
  background-color: cornflowerblue;
  font-family: Helvetica;
}

.languages {
  /*background-color: aqua;*/
  text-align: right;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.name {
  /*background-color: beige;*/
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 7rem;
}

.profile-image {
  /*background-color: blue;*/
  text-align: center;
  /*padding: 5% 10%;*/
  border-top: 2px solid white;
  margin-left: 3rem;
  margin-right: 3rem;
 }

img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 0.125rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  margin-top: -5rem;
  }

img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.card {
  /*background-color: chartreuse;*/
  width: 90%;
  height: auto;
  position: relative;
}

.past {
  /*background-color: brown;*/
  position: relative;
  width: 45%;
  height: 100%;
  background: url('assets/past.jpg') no-repeat center center;
  display: inline-block;
}

.present {
  /*background-color: blueviolet;*/
  position: relative;
  width: 45%;
  height: 100%;
  background: url('assets/present.jpg') no-repeat center center;
  display: inline-block;
}

.future {
  /*background-color: burlywood;*/
  width: 90%;
  height: 20%;
  background: url('assets/future.jpg') no-repeat center center;
  display: inline-block;
}

.past, .present, .future {
  margin: 1rem;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  float: left;
  box-sizing: border-box;
  background-size: cover;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;
}

.links {
  /*background-color: cadetblue;*/
  height: 40%;
  text-align: center;
  color: white;
  bottom: 0;
  clear: both;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.more {
  margin-top: 1rem;
  text-align: right;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5 rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center
}

h1, p {
  letter-spacing: 0.35px;
}

h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5 rem;
  font-weight: bolder;
}

.back {
  font-size: 1.2rem;
  text-align: right;
  padding: 1rem;
}

p {
  line-height: 1.6rem;
  padding: 0.25rem;
  font-weight: bolder;
}