/*==== CSS RESET ====*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==== END OF CSS RESET ====*/

/*==== START RESPONSIVE LAYOUT CSS NEW ====*/

body {
  font-family: Merriweather, Verdana, serif;
  color: #333;
  background-color: *#42444e;
}

h1, h2 {
  font-family: 'Open Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.main-header {
  background-color: cornflowerblue;
  width: 100vw;
  height: 20vh;
  
}

.languages {
  /*background-color: blueviolet;*/
  width: 20%;
  height: 10%;
  margin: 0 0 0 auto;
  padding-top: 1%;
  font-size: 0.8rem;
  font-weight: bolder;
     
}

a:hover {
  color: #fff;

}


.name {
  /*background-color: blue;*/
  width: 100%;
  height: 20%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.5%;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
      
}

.white-line {
  border-top: 0.125rem solid white;
  width: 90%;
  height: 2%;
  margin: 2.5rem auto 0;
      
}

.profile-image {
  /*background-color: darkgoldenrod;*/
  width: 100%;
  height: 68%;
  text-align: center;
  margin: 0 auto;
  
  
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.125rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  display: block;
  margin: -2.5rem auto 0;
    
}

img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.primary-content {
  background-color: #8c8e9b;
  width: 100vw;
  height: 70vh;
  margin: 0 auto;
  
}

.past {
  /*background-color: brown;*/
  width: 95%;
  height: 40%;
  margin: 0 auto;
  background: url(assets/past.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen; 
  
}

.present {
  /*background-color: coral;*/
  width: 95%;
  height: 40%;
  margin: 1% auto;
  background: url(assets/present.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen; 
  
}

.future {
  /*background-color: cadetblue;*/
  width: 95%;
  height: 17%;
  margin: 0 auto;
  background: url(assets/future.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;  
  
}

.links {
  background-color: #42444e;
  width: 100vw;
  height: 10vh;
  text-align: center;
  padding-top: 2%;
  color: #e5127d;
  
}

ul {
  list-style-type: none; 
  padding-top: 1.5%;
  
}

li {
  display: inline;  
  
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.more {
  text-align: right;
  padding-right: 2%;
}

p {
  padding: 1%;
  text-align: justify;
}

@media (min-width: 620px) {
  
  .past {
    width: 44.5%;
    height: 80%;
    display: inline-block;
    margin-left: 5%;    
    margin-top: 1%;
  }
   
  .present {
    width: 44.5%;
    height: 80%;
    display: inline-block;
    float: right;
    margin-right: 5%;
    
  }  
  
  .future{
    width: 90%;
    height: 16%;
    margin-top: 1%;
  }
  
  .languages {
    text-align: center;
  }
}

/*==== START RESPONSIVE LAYOUT CSS OLD ====*/

/*body {
  font-family: Merriweather, Verdana, serif;*/
  /*font-size: 1.125rem;
  line-height: 2rem;*/
  /*color: #333;
  background-color: #42444e; 
}

h1, h2 {
  font-family: 'Open Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.main-header {
  background-color: chartreuse;*//*cornflowerblue;*/
  /*width: 100vw;
  height: 20vh;
  text-align: center;
  padding: 2% 2%;
  color: #fff;*/
  /*position: absolute;  */
  /*top: 0;
}

.languages {*/
  /*background-color:aliceblue;*/
  /*width: 100%;
  height: 10%;
  text-align: right;
  padding-right: 2%;
  position: relative;
  font-family: 'Open Sans', Arial, sans-serif;
} 

a:hover {
  color: #fff;    
}

.name {*/
  /*background-color: brown;*/
  /*width: 100%;
  height: 25%;
  text-align: center;
  position: relative;*/
  /*padding-top: 2%;  */
/*}

h1 {
  margin: 0 auto;
  padding-top: 2.5%;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.profile-image {*/
  /*background-color: burlywood;*/
  /*width: 100%;
  height: 65%;
  text-align: center; 
  position: relative;  
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.125rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  margin-top: -2.5rem;
}

img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.white-line {
  border-top: 0.125rem solid white;
  width: 100%;
  margin: 2.5rem auto 0;
  position: relative;
}

.primary-content {
  background-color: aqua;*//*#8c8e9b;*/
  /*width: 100vw;
  height: 63vh;
  letter-spacing: 0.125rem;
  line-height: 1rem;
  display: inline-block;*/
  /*position: relative;*/
  /*margin-top: 0;
}

.past {*/
  /*background-color: forestgreen;*/
  /*width: 90%;
  height: 40%;  
  padding-top: 1%;*/
  /*font-size: 0.25rem;*/
  /*position: relative;
  margin: 1% auto;
  background: url(assets/past.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;  
}

.present {*/
  /*background-color: goldenrod;*/
  /*width: 90%;
  height: 40%;  
  padding-top: 1%;*/
  /*font-size: 0.25rem;*/
  /*position: relative;
  margin: 0 auto;
  background: url(assets/present.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;  
}

.future {*/
  /*background-color: fuchsia;*/
  /*width: 90%;
  height: 17%;  
  padding-top: 1%;*/
  /*font-size: 0.25rem;*/
  /*position: relative;
  margin: 1% auto;
  background: url(assets/future.jpg) no-repeat center center fixed ;
  background-size: cover;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;  
}

p {
  font-size: 60%;
  padding: 1%;
  width: auto;
  height: auto;
  font-weight: bolder;
}

h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
}

.links {
  background-color: pink;*//*#42444e;*/
  /*width: 100vw;
  height: 7vh;
  text-align: center;*/
  /*position: absolute;*/
  /*bottom: 0;
  color: #e5127d;
  line-height: 1.3rem;*/
  /*padding-top: 1%;*/
/*}

ul {
  list-style-type: none;  */
  /*padding-bottom: 1%;*/
/*}

li {
  display: inline;  
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure, img,
pre,table,fieldset,hr,
.main-header, .primary-content, .contact {
    margin-bottom: 1rem;
}*/