body {
  background-color: hsla(0, 0%, 100%, .5);
  font-family: Helvetica;
  background: url(assets/past.jpg) no-repeat center center fixed ;
  background-size: cover;
}

.past-card {
  position: absolute;
  width: 100%;
  height: 100%;
}

.past-more {
  margin: auto;
  width: 70%;
  height: 70%;
  border: 0.125rem solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, .63);
  background-blend-mode: screen;
  padding-left: 3rem;
  
  /*box-sizing: border-box;
  display: inline-block;
  position: relative;*/
}

h1 {
  text-transform: uppercase;
  font-size: 1.5 rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 5rem;
}

h1, p {
  letter-spacing: 0.35px;
}

h2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5 rem;
  font-weight: bolder;
}

.back {
  font-size: 1.2rem;
  text-align: right;
  padding: 1rem;
}

p {
  line-height: 1.6rem;
  padding-top: 1rem;
  font-weight: bolder;
}

